{% extends 'bootstrap/base.html' %}
{% block html_attribs %} lang="pt-BR"{% endblock %}
{% block title %}Erro {{ cod_erro }}{% endblock %}
{% block styles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% endblock %}
{% block content %}

<div class="container">
  <div class="jumbotron">
    <h1>Erro {{ cod_erro }}</h1>
    <h2>{{ desc_erro }}</h2>
  </div>
</div>

{% endblock %}